<html>

<head>
  <title>Decision Theatre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="../public/lib/jquery-1.11.3.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="../public/lib/bootstrap.css" />
  <script type="text/javascript" src="../public/lib/bootstrap.js"></script>
  <link rel="stylesheet" href="../public/app.css" />

  <script type="text/javascript" src="../public/lib/three.min.js"></script>
  <script type="text/javascript" src="../public/lib/Coordinates.js"></script>
  <script type="text/javascript" src="../public/lib/OrbitControls.js"></script>
  <script type="text/javascript" src="../public/lib/dat.gui.min.js"></script>

  <script type="text/javascript" src="../public/lib/stats.min.js"></script>
  <script type="text/javascript" src="../public/lib/sprintf.js"></script>
  <script type="text/javascript" src="../public/lib/tween.min.js"></script>
  <script type="text/javascript" src="../public/lib/uclass_shaders.js"></script>
  <script type="text/javascript" src="../public/lib/TrackballControls.js"></script>
  <script type="text/javascript" src="../public/lib/Detector.js"></script>

  <script type="text/javascript" src="../public/source/client.js"></script>
  <script type="text/javascript" src="../public/source/render-app.js"></script>
</head>

<body>
  <div id="validLogin" class="innerbody">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Decision Theatre Dashboard</a>
        </div>
      </div>
    </div>
    <!-- /Nav Bar  -->

    <div class="container" id="dashboard">
      <div class="row" />
        <div class="col-md-4">
          <b>Users</b>
          <hr />
          <div id="users"></div>
          <hr />
		  <b>Menu</b>
		  <div id="menu"></div>
		  Mode: 
		  <button type="button" id = "viewMode" class="btn btn-primary">Viewing</button>
		  <button type="button" id = "editMode" class="btn btn-success">Editing</button>
		  <div id="viewing" class = "collapse">
		  Viewing Options
		  </div>
		  <div id="editing">
		  Editing Options
		  </div>
          <hr />
        </div>
        <!-- /User List  -->

        <div class="col-md-8">
          <div style="padding-left: 30%">
            <div id="notifications" style="text-align: center;"></div>
            <hr/>
          </div>

          <div id="jsviewport">
          </div>
        </div>
        <!-- /Camera Space  -->

      </div>
    </div>
  <!-- /Dashboard  -->

  </div>
  <!-- /Valid Login Panel  -->

  <div id="invalidLogin" class="middlealign">
    <p>Name required to enter Decision Theatre</p>
  </div>
  <!-- /Invalid Login Panel  -->
  
  <script>

  $(document).ready(function(){ 
    $('#validLogin').hide();
    $('#invalidLogin').hide();
	
    startRenderApp();
    startClient();
    onWindowResize();
	$("#viewing").collapse("hide");
	$("#editing").collapse("show");
	
	$(document).ready(function(){
		$("#viewMode").click(function(){
			$("#viewing").collapse("show");
			$("#editing").collapse("hide");
		});
		$("#editMode").click(function(){
			$("#viewing").collapse("hide");
			$("#editing").collapse("show");
		});
	});
  </script>
</body>

</html>
