<html>

<head>
  <title>Decision Theatre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="../public/lib/jquery-1.11.3.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="../public/lib/bootstrap.css" />
  <script type="text/javascript" src="../public/lib/bootstrap.js"></script>
  <link rel="stylesheet" href="../public/app.css" />
  
  <script type="text/javascript" src="../public/lib/three.min.js"></script>
  <script type="text/javascript" src="../public/lib/Coordinates.js"></script>
  <script type="text/javascript" src="../public/lib/OrbitControls.js"></script>
  <script type="text/javascript" src="../public/source/POVControls.js"></script>
  <script type="text/javascript" src="../public/lib/TransformControls.js"></script>
  <script type="text/javascript" src="../public/lib/dat.gui.min.js"></script>

  <script type="text/javascript" src="../public/lib/stats.min.js"></script>
  <script type="text/javascript" src="../public/lib/sprintf.js"></script>
  <script type="text/javascript" src="../public/lib/tween.min.js"></script>
  <script type="text/javascript" src="../public/lib/uclass_shaders.js"></script>
  <script type="text/javascript" src="../public/lib/TrackballControls.js"></script>
  <script type="text/javascript" src="../public/lib/Detector.js"></script>

  <script type="text/javascript" src="../public/source/cityclient.js"></script>
  <script type="text/javascript" src="../public/source/render-app.js"></script>
</head>

<body>

  <div id="validLogin" class="innerbody">
    <!-- /Nav Bar  -->
    <div class="container" id="dashboard">
	<div id="loadNotification">City Assets Loading</div>
      <div class="row" />
		<div class="col-md-8">
          <div id="jsviewport">
          </div>
		  <div class="clear"></div>
        </div>
        <!-- /Camera Space  -->
		<div class="menuclass">
		  <button type="button" id="menu" class="btn btn-primary">Menu</button>
		  <br/>
		  <div class="col-md-4 collapse">
          <b>Users</b>
          <hr />
          <div id="users"></div>
		  <div id="menudiv" class = "collapse">
		  <hr />
			  Mode:
			  <div class="btn-group" role="group" aria-label="modegroup">
				<button type="button" id = "viewMode" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Viewing</button>
				<button type="button" id = "editMode" class="btn btn-success active" data-toggle="button" aria-pressed="true" autocomplete="off">Editing</button>
			  </div>
			  <div id="viewing" class = "collapse">
			  Viewing Options
			  </br>
			  <div class="btn-group" role="group" aria-label="modediv">
				<button type="button" id = "nightOn" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Night Mode</button>
				<button type="button" id = "nightOff" class="btn btn-success active" data-toggle="button" aria-pressed="true" autocomplete="off">Day Mode</button>
			  </div>
			  </div>
			  <div id="editing">
				  Editing Options
				  </br>
				  <div class="btn-group" role="group" aria-label="addremove">
					<button type="button" id = "Add" class="btn btn-primary">Add Object</button>
					<button type="button" id = "AddAny" class="btn btn-primary">Add Anywhere</button>
					</br>
					<button type="button" id = "Remove" class="btn btn-warning">Remove Object</button>
					<button type="button" id = "Delete" class="btn btn-danger">Delete Object</button>
					</br>
					<button type="button" id = "Cancel" class="btn btn-warning">Cancel</button>
				  </div>
				  <div id="transform" class = "collapse">
				  Editing Options
					  </br>
					  <div class="btn-group" role="group" aria-label="transrot">
						<button type="button" id = "Translate" class="btn btn-primary">Translate</button>
						<button type="button" id = "Rotate" class="btn btn-success">Rotate</button>
					  </div>
				  </div>
			  </div>
		  </div>
		  <hr/>
		  <nav>
		    <div id="objectlist" class="collapse" style="text-align: left;margin-bottom:5px">
				<form>
					Street Lamp <br/>
					<image type="image" id="lampbtn" src="../public/models/streetlamp/lamp_btn.png">
				</form>
			</div>
		  </nav>
		  <button type="button" id = "notebutton" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Notifications</button>
		  <nav>
		    <div id="notifications" class="collapse" style="text-align: left;margin-top:5px"></div>
		  </nav>
		  <div class="clear"></div>
		  <hr/>
		</div>
		</div>

        <!-- /User List  -->
      </div>
    </div>
  <!-- /Dashboard  -->

  </div>
  <!-- /Valid Login Panel  -->

  <div id="invalidLogin" class="middlealign">
    <p>Name required to enter Decision Theatre</p>
  </div>
  <!-- /Invalid Login Panel  -->

  <script>

  $(document).ready(function(){
    $('#validLogin').hide();
    $('#invalidLogin').hide();

    startRenderApp();
    startClient();
    onWindowResize();
	bindUIFunctionality();

	});
  </script>
  <script type="text/javascript" src="../public/lib/bootstrap-toolkit.min.js"></script>
  <script type="text/javascript" src="../public/source/resizing.js"></script>
</body>

</html>
