body {
  font-family: Consolas, monospace;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.75em;
}
.innerbody {
  height: 98%;
  top: 0px;
  width: 96%;
  left: 2%;
  position: relative;
  overflow: hidden;
}
#dashboard {
  padding: 80px 0px;
  float: left;
}
.border {
  border: solid 1px silver;
  padding: 3px;
}
.wordwrap {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
